---
import { formatDate } from "../../sanity/utilis";
import { urlFor } from "../../sanity/utilis/image";
import type { Dog } from "../../sanity/utilis/sanity";

interface Props {
	data: Dog;
}

const { data } = Astro.props;
---
<section class="">
  <div class="group flex flex-col p-7 bg-beige border border-gray-300 rounded-md hover:shadow-md transition-shadow duration-200">
    
    <div class="relative w-full aspect-square">
      {data?.mainImage ? (
        <>
          <img
            class="w-full h-full object-cover rounded-md"
            src={urlFor(data.mainImage).width(1000).height(1000).url()}
            alt={`${data.name}`}
            loading="lazy"
          />
          <a
            href={`/dogs/${data.slug.current}`}
            class="p-2.5 absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 bg-black/15 text-black font-bold text-lg transition-opacity duration-300"
          >
            <span class="p-4 bg-lightBlue rounded-lg">Découvrez {data.name}</span>
            
          </a>
        </>
      ) : (
        <div class="w-full h-full bg-gray-300 rounded-md"></div>
      )}
    </div>

    <div class="flex flex-col flex-grow my-5">
      <h3 class="text-lg mb-2">
        <span class="text-gray-900">Moi c'est <span class="font-variant text-4xl pl-2">{data.name}</span></span>
      </h3>
      <p class="text-gray-600 mb-4 flex-grow">{data.shortDescription || "e"}</p>
    </div>
  </div>
</section>
