---
import { formatDate } from "../../sanity/utilis";
import { urlFor } from "../../sanity/utilis/image";
import type { Blog } from "../../sanity/utilis/sanity";

interface Props {
	title: string;
	data: Blog;
	className?: string;
}

const { data, title, className } = Astro.props;
---

<a href={`/${title}/${data.slug.current}`} class=`flex flex-col gap-4 border border-gray-300 rounded-md overflow-hidden p-8 bg-lightBrown ${className}`>
  {data?.image ? (
    <img
      class="w-full object-cover rounded-lg h-43"
      src={urlFor(data.image).width(500).height(300).url()}
      alt={`${data.title}`}
      loading="lazy"
    />
  ) : (
    <div class="w-full h-43 bg-gray-300"></div>
  )}

    <h4 class="text-2xl font-bold leading-[130%] text-darkBlue">
      {data.title}
    </h4>
    <p>{data.subtitle || "Pas de sous-titre"}</p>
    <hr class="text-thirdLightGrey" />
    <div class="flex justify-between items-center">
      <div class="px-4 py-2 bg-white rounded-lg border border-thirdLightGrey">
        <p class="text-xs font-bold leading-[130%] text-darkBlue">Coulisse du refuge</p>
      </div>
      <p class="text-darkBlue text-sm font-medium leading-[130%]">{formatDate(data.publishedAt || data._createdAt)}</p>
    </div>
</a>
