---
import { formatDate } from "../../sanity/utilis";
import { urlFor } from "../../sanity/utilis/image";
import type { Blog } from "../../sanity/utilis/sanity";

interface Props {
	title: string;
	data: Blog;
}

const { data, title } = Astro.props;
---

<div class="flex flex-col border border-gray-300 rounded-md overflow-hidden shadow-sm hover:shadow-md transition-shadow duration-200">
  {data?.image ? (
    <img
      class="w-full h-56 object-cover"
      src={urlFor(data.image).width(500).height(300).url()}
      alt={`${data.title}`}
      loading="lazy"
    />
  ) : (
    <div class="w-full h-56 bg-gray-300"></div>
  )}

  <div class="p-4 flex flex-col flex-grow">
    <h3 class="text-lg font-extrabold mb-2">
      <a
        class="text-gray-900 hover:text-indigo-600 transition-colors duration-200"
        href={`/${title}/${data.slug.current}`}
      >
        {data.title}
      </a>
    </h3>
    <p class="text-gray-600 mb-4 flex-grow">{data.subtitle || "Pas de sous-titre"}</p>
    <p class="text-gray-500 text-sm font-semibold">{formatDate(data.publishedAt || data._createdAt)}</p>
  </div>
</div>
